{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Listing: {{listing.name}}</h2>
    <img src="/media/{{listing.upload}}" alt="">

    <div>{{listing.description}}</div>
    <h3>${{current_price|stringformat:".2f"}}</h3>

    <form action="">
        <div class="form-group row">
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">$</span>
                </div>
                <input type="text" class="form-control" placeholder="Bid" aria-describedby="inputGroupPrepend" >
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Place bid</button>
        </div>  
    </form>


    <div class="form-group row">
        <div class="row">
            <div class="col-sm-12">
                <h3>Details</h3>
                <div>Category: <strong>
                    {% if listing.category %}
                        {{listing.category}}
                    {% else %}
                        No category listed
                    {% endif %}
                </strong></div>
                Listed by: <strong>{{listing.listed_by}}</strong> 
            </div>
        </div>
    </div>
    <div class="form-group row">
        <h3>Comments</h3>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'comments' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{listing.id}}">
            <div class="form-group row">
                <div class="input-group">
                    <textarea name="comment" id="" cols="30" rows="3" class="form-control" placeholder="Send a comment"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    {% endif %}
    <div class="form-group">
        <ul class="list-group list-group-flush">
            {% for comment in comments %}
            <li class="list-group-item">{{ comment.comment }}</li>
            {% endfor %}
        </ul>
    </div>
 </div>
{% endblock %}