{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.price.errors }}
            {{ form.price }}
        </div>
        <div class="form-group">
            {{ form.category.errors }}
            {{ form.category }}
        </div>
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.upload }}
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
